
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    padding: 30px;
    border-radius: 5px;
  }
  
  .file-input, .download-input {
    color: white;
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .upload-button, .download-button {
    width: 100%;
    max-width: 300px;
    padding: 10px 20px;
    background-color: #002fff00;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 50px;
  }
  
  .upload-button:hover, .download-button:hover {
    background-color: rgb(34, 56, 179);
  }
  
  
  
  
 .aligncenter{
    justify-content: center;
    display: flex;
    height: 100vh;
    align-items: center;
 }